a {
  text-decoration: none;
}

.price-table-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 150px;
}

.table {
  display: inline-block;
  height: fit-content;
  min-width: 300px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  background: white;
  margin: 30px;
  transition: all 0.3s ease-in-out;
}

.price-table-wrapper .featured-table {
  box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
  transform: scale(1.05);
}

.price-table-wrapper .pricing-table__header {
  padding: 20px;
  font-size: 20px;
  color: #fff;
  background: rgb(246, 172, 22);
  border-radius: 5px;
}



.price-table-wrapper .pricing-table__price {
  color: #000;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  font-size: 40px;
  font-weight: 500;
  opacity: .8;
}
.price-table-wrapper .pricing-table__button {
  display: block;
  background: rgb(245, 180, 50);
  text-decoration: none;
  padding: 20px;
  color: white;
  font-weight: bolder;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.price-table-wrapper .pricing-table__button:before {
  position: absolute;
  left: -20%;
  top: -10%;
  content: "";
  width: 60%;
  height: 220%;
  transform: rotate(-30deg);
  background: white;
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}
.price-table-wrapper .pricing-table__button:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  font-size: 25px;
  padding: 15px;
  padding-right: 40px;
  color: white;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.price-table-wrapper .pricing-table__button:hover {
  background: black;
}
.price-table-wrapper .pricing-table__list {
  list-style-type: none;
  padding: 0 20px;
  color: #a0a0a0;
}
.price-table-wrapper .pricing-table__list li {
  padding: 15px;
  border-bottom: .5px solid #e1e1e1;
}
.price-table-wrapper .pricing-table__list li:last-child {
  border: none;
}
.price-table-wrapper .table:hover {
  box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
}
.price-table-wrapper .table:hover .pricing-table__button {
  padding-left: 0;
  padding-right: 35px;
}
.price-table-wrapper .table:hover .pricing-table__button:before {
  top: -80%;
  transform: rotate(0deg);
  width: 100%;
}
.price-table-wrapper .table:hover .pricing-table__button:after {
  opacity: 1;
  padding-right: 15px;
}

.pricing-table__header--media {
  display: none;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 725px) {
  .table {
    display: flex;
    flex-direction: column;
  }

  .table-content {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .pricing-table__header--media {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    color: #fff;
    background: rgb(246, 172, 22);
    border-radius: 5px;
  }

  .table-upper h2 {
    display: none;
  }

  .price-table-wrapper .pricing-table__list li:first-child {
    display: none;
  }

}